#para{
    color: blue;
    height: 200px;
    width: 600px;
    background-color: aqua;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 100px;
    margin-left: 400px;
}
.p{
    color: blueviolet;
    height: 200px;
    width: 600px;
    background-color: brown;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin:100px ;
    margin-left: 400px;
}